<?xml version="1.0" encoding="UTF-8"?>
<menu xmlns:its="http://www.w3.org/2005/11/its" its:version="2.0">
<its:rules version="2.0">
	<its:translateRule selector="//item/@label" translate="yes"/>
	<its:translateRule selector="//item/@tooltip" translate="yes"/>
</its:rules>

<item module="individuList" label="Lectures" tooltip="Lecture des pièces calcifiées">
	<item module="individuList" label="Poissons" tooltip="Liste des poissons"/>
	<item module="photolectureList" label="Lectures réalisées" tooltip="Liste des lectures réalisées" droits="lecture"/>
	<item module="importChange" label="Import" tooltip="Importer des poissons" droits="gestion"/>
</item>

<item module="parametres" label="Paramètres" tooltip="Paramètres généraux de l'application" loginrequis="1" >
	<item module="experimentationList" label="Expérimentations" tooltip="Liste des expérimentations" droits="consult"/>
	<item module="piecetypeList" label="Pièces" tooltip="Liste des types de pièces calcifiées" droits="consult"/>
	<item module="especeList" label="Espèces" tooltip="Liste des espèces" droits="consult"/>
	<item module="metadatatypeList" droits="consult" label="Métadonnées" tooltip="Modèles de métadonnées" />
	<item divider='1' droits="gestionCompte"/>
	<item module="requestList" label="Requêtes SQL" tooltip="Exécution de requêtes SQL dans la base de données" droits="param"/>
	<item module="dbstructureSchema" droits="gestionCompte" label="Schéma de la base de données" tooltip="Schéma de la base de données"/>
	<item module="dbstructureHtml" droits='gestionCompte' label="Structure de la base de données (HTML)" tooltip="Liste des tables et des colonnes"/>
	<item module="dbstructureLatex" droits='gestionCompte' label="Structure de la base de données (Latex)" tooltip="Liste des tables et des colonnes sous forme de tableaux Latex"/>
</item>

<item module="administration" label="Administration" tooltip="Administration de l'application" droits="admin,gestionCompte">
	<item module="loginList" droits="admin,gestionCompte" label="Liste des comptes locaux" tooltip="Liste des logins - identification via la base de données"/>
	<item module="lecteurList" droits="gestionCompte" label="Lecteurs" tooltip="Liste des lecteurs"/>
	<item module="appliList" droits="admin" label="ACL - droits" tooltip="applications et droits gérés"/>
	<item module="aclloginList" droits="admin" label="ACL - logins" tooltip="Logins déclarés dans le module de gestion des droits"/>
	<item module="groupList" droits="admin" label="ACL - groupes de logins" tooltip="Groupes de logins et logins rattachés aux groupes"/>
	<item module="dbparamList" droits="admin" label="Paramètres de l'application" tooltip="Liste des paramètres pérennes de l'application" />
	<item divider='1'/>

	<item module="dbstructureHtml" droits='admin' label="Structure de la base de données (HTML)" tooltip="Liste des tables et des colonnes"/>
	<item module="dbstructureLatex" droits='admin' label="Structure de la base de données (Latex)" tooltip="Liste des tables et des colonnes sous forme de tableaux Latex"/>
	<item module="dbstructureGacl" droits="admin" label="Structure de la base de données des droits (HTML)" tooltip="Liste des tables et des colonnes de la base de données de gestion des droits"/>
	<item divider='1'/>
	<item module="logList" droits="admin" label="Logs" tooltip="Consultation des logs enregistrées"/>
	<item module="phpinfo" droits="admin" label="PHP info" tooltip="configuration générale du serveur PHP"/>
</item>
<item module="connexion" label="Connexion" tooltip="S'identifier dans l'application" onlynoconnect="1"/>
<item module="disconnect" label="Déconnexion" tooltip="Déconnexion de l'application" loginrequis="1">
	<item module="loginChangePassword" loginrequis="1" label="Modifier le mot de passe" tooltip="Modifiez votre mot de passe (identification locale uniquement)" />
</item>
<item module="apropos" label="?" tooltip="Aide">
	<item module="apropos" label="A propos" tooltip="A propos d'Otolithe"/>
	<item module="quoideneuf" label="Nouveautés" tooltip="Quoi de neuf dans l'application ?"/>
	<item module="setlanguagefr" label="Français" tooltip="Libellés en français"/>
	<item module="setlanguageen" label="English" tooltip="Labels in English"/>
</item>
</menu>
